<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your next web project with Pure.">
    <title>ORANGE - a small site</title>
    <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
</head>
<body>
  <div style="width:100%;padding:1rem;max-width:960px;text-align:center;margin:0 auto;">
    <h1>Hello, I'm Orange</h1>
    <p>I'm a simple site.</p>
    <a href="/1/">contact</a>
  </div>
</body>
</html>
